.container{
     position: relative;
}
#start {
    position: relative;
    background: cadetblue;
    width: 800px;
    height: 650px;
    left: 22%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#start h1 {
    font-size: 4rem;
    color: white ;
    text-align: center;
    position: relative;
    top: 15%;
}
/*START BUTTON*/
#btn-container{
    width: 25%;
    height: auto;
    position: absolute;
    left: 36%;
    top: 37%;
}
#player-btn {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#bot-btn {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 62px;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#brick-btn {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 34px;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

}
#game-mode{
    position: relative;
    font-size: 1.5rem;
    padding: 15px 47px;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

}
option{
    color: white;
    font-size: 1.5rem;
}
#tutorial-btn{
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 56px;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

}

#restart-btn {
    font-size: 24px;
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    left: 37%;
    margin-bottom: 100px;
}

#return-btn {
    font-size: 24px;
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    left: 36%;
    top: 78%;
}
/*END BUTTON*/
canvas {
    display: none;
    margin: 0 auto;
    background: cadetblue;
    border: 3px solid blueviolet;
}
#end{
    border: 2px solid black;
    width: 50%;
    top: 18%;
    position: absolute;
    left: 25%;
    background: white;
}
#end h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    padding: 10px;
}

#end p {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

/*      BRICK BREAKER GAME      */
#end-brick{
    border: 2px solid black;
    width: 50%;
    top: 18%;
    position: absolute;
    left: 25%;
    background: white;
}
#end-brick h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    padding: 10px;
}

#end-brick p {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

#restart-brick {
    font-size: 24px;
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    left: 37%;
    margin-bottom: 100px;
}

#return-brick {
    font-size: 24px;
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    left: 36%;
    top: 78%;
}

/*  MENU HƯỚNG DẪN    */
#tutorial-menu{
    font-size: 18px;
    width: 700px;
    height: 775px;
    position: absolute;
    border:2px solid black;
    background: #456c6c;
    color: white;
    left: 26%;
    top: 2%;
}
#tutorial-menu h2{
    text-align: center;
    padding: 0;
    margin: 7px;
}
#pong-tutorial{
    border-style: solid;
    border-color: gray;
    border-width: 2px 0;
}
#pong-tutorial hr {
    width: 80%;
}
#smol-container{
    display: flex;
}
.smol-tutorial{
    width: 50%;
    border-style: solid;
    border-color: gray;
    border-width: 2px 2px;
}
.mode-game{
    border-style: solid;
    border-color: gray;
    border-width: 0 0 2px 0;
}
.smol-tutorial h3{
    text-align: center;
    padding: 0;
    margin: 7px 0;
}
.smol-tutorial p{
    margin-left: 10px;
    line-height: 1.2;
}
.smol-tutorial ul{
    list-style: none;
    margin-left: 10px;
    padding: 0;
}
.smol-tutorial ul li {
    line-height: 1;
}
.p1-tutor,.p2-tutor{
    width: 50%;
}
#exit-tutorial{
    margin: 5px 295px;
    font-size: 22px;
    padding: 8px 27px;
    border-radius: 0.5rem;
    background-color: #2196F3;
    color: #fff;
    border: 1px solid gray;
    cursor: pointer;
}